label, input {
    margin: 5px;
    vertical-align: middle;
    height: 30px;
    font-size: 20px;
}
label {
    font-weight: 600;
}
form {
    margin: 0 auto;
    border: 1px solid black;
    width: fit-content;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}
.gender {
    font-weight: 300;
}
